@font-face { font-family: ARCADECLASSIC; src: url('font/ARCADECLASSIC.TTF'); } 
:root {
    --viewport-width: 1024px;
    --viewport-height: 768px;
}
body {
    cursor: none;
    background-color: black;
}
#game-viewport {
    position: relative;
    width: var(--viewport-width);
    height: var(--viewport-height);
    margin: auto;
    background-color: black;
    color: white;
    font-family: ARCADECLASSIC;
    word-spacing: 0.4em;
    /* text animation */
    animation-duration: 0.01s;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.container {
    display: flex;
    flex-direction: column;
}
#overlay {
    z-index: 3;
    background-color: black;
    position: absolute;
    width: var(--viewport-width);
    height: var(--viewport-height);
    display: none;
    opacity: 1;
    animation-name: overlaychange;
    animation-duration: 2s;
}
#crt-filter img {
    z-index: 5;
    position: absolute;
    width: var(--viewport-width);
    height: var(--viewport-height);
    opacity: 1;
    pointer-events: none;
    image-rendering: crisp-edges;
}
#image-overlay-container {
    z-index: 1;
    position: absolute;
    width: var(--viewport-width);
    height: var(--viewport-height);
    background-color: black;
    display: none;
}
#image-overlay {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#image-container  {
    width: 100%;
    height: 50%;
}
#image-container img {
    margin: auto;
    height: 100%;
    padding: 1%;
}
#text-container {
    width: 100%;
    height: 30%;
    font-size: 1.6rem;
    word-spacing: 0.4em;
}
#text-container p {
    padding: 0 2%;
}
#dialog-container {
    bottom: 0px;
    width: 100%;
    height: 20%;
    font-size: 1.3rem;
    line-height: 0;
}
#dialog-container div {
    height: 25%;
    padding-left: 2%;
}
#dialog-container div:hover {
    color: red;
    padding-left: 3%;
}
#start-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    display: flex;
    align-items: center;
    font-size: 4rem;
}
#start-button:hover {
    color: red;    
}
#start-button p {
    margin: auto;
}



/* dropdown menu */
.icon {
    z-index: 4;
    position: absolute;
    width: calc(var(--viewport-width) * 0.04);
    height: auto;
    padding: calc(var(--viewport-width) * 0.01);
}
.dropdown .icon-image {
    transition: transform 0.4s;
}
.dropdown:hover .dropdown-image {
    transform: rotateX(180deg);
}
.icon-image {
    width: 100%;
    height: 100%;
}
.dropdown .dropdown-image {
    filter: brightness(0.4);
}
.dropdown:hover .dropdown-image {
    filter:  invert(25%) sepia(89%) saturate(6593%) hue-rotate(355deg) brightness(101%) contrast(121%);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content {
    position: absolute;
    display: none;
    left: 0;
}
.dropdown-content div {
    position: relative;
}
#theme-button:hover .icon-image {
    filter:  invert(25%) sepia(89%) saturate(6593%) hue-rotate(355deg) brightness(101%) contrast(121%);
    transform: rotate(45deg);
    padding-left: calc(var(--viewport-width) * 0.005);
}
#mute-button:hover .icon-image {
    filter:  invert(25%) sepia(89%) saturate(6593%) hue-rotate(355deg) brightness(101%) contrast(121%);
    padding-left: calc(var(--viewport-width) * 0.005);
}



/* animation */
@keyframes overlaychange {
    0% { 
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



@keyframes textflicker {
    from {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
}



.pizza-cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    pointer-events: none; /* Ensures it doesn't interfere with clicking */
    background: url('cursor/Pizza.cur') no-repeat center/contain;
    z-index: 1000;
    transform: translate(-50%, -50%);
}
